{% extends 'school/base.html' %}

{% block title %}About | Thuto Thebe Secondary School{% endblock %}

{% block content %}
<h2>About Thuto Thebe Secondary School</h2>

<p>
Thuto Thebe Secondary School is located in Standerton, Mpumalanga,
approximately 5km from town. The school was established in 1995
and offers education from Grade 8 to Grade 12.
</p>

<h3>Vision</h3>
<p>
Providing quality education through high quality teaching and training
in a safe environment.
</p>

<h3>Mission</h3>
<p>
We as a community of Thuto Thebe Secondary School are committed to
motivating and encouraging our learners to be highly effective adults
who will face life challenges in a positive manner.
</p>
{% endblock %}