{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thuto Thebe Secondary School{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'school/style.css' %}">
</head>
<body>

<header class="header">
    <div class="logo-area">
        <img src="{% static 'school/logo.png' %}" alt="School Logo">
        <div>
            <h1>Thuto Thebe Secondary School</h1>
            <p>Standerton, Mpumalanga</p>
        </div>
    </div>

   <nav class="navbar">
    <div class="nav-header">
        <span class="school-name">Thuto Thebe Secondary School</span>
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    </div>

    <div class="nav-links" id="navLinks">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/academics/">Academics</a>
        <a href="/staff/">Staff</a>
        <a href="/sports/">Sports</a>
        <a href="{% url 'announcements' %}">News</a>
        <a href="/contact/">Contact</a>
        <a href="/apply/">Apply</a>
    </div>
    </nav>
</header>

<main class="content">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
   <p><span class="icon">📍</span> 607 Azalea Ext 1, Standerton</p>
<p><span class="icon">📞</span> 017 712 4704</p>
<p><span class="icon">✉</span> mbulimazwi6@gmail.com</p>
</footer>
<script>
function toggleMenu() {
    const nav = document.getElementById("navLinks");
    nav.classList.toggle("show");
}
</script>

<a href="https://wa.me/27717124704"
   class="whatsapp-float"
   target="_blank"
   aria-label="Chat on WhatsApp">
    💬
</a>
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const slides = document.querySelectorAll(".slider img");
    let index = 0;

    // hide all except first
    slides.forEach((img, i) => {
        img.style.display = i === 0 ? "block" : "none";
    });

    setInterval(() => {
        slides[index].style.display = "none";
        index = (index + 1) % slides.length;
        slides[index].style.display = "block";
    }, 3000);
});
</script>
{% endblock%}
</body>
</html>